* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-back-home {
  background-color: #b52030;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
}

.image-button-back-home {
  width: 50px;
}

.image-button-back-home {
  animation-name: gelatine;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
