* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#button-back-home {
  margin: 0;
  background-color: #b52030;
  font-family: "Expletus Sans", sans-serif;
  font-size: 0.5rem;
  color: #f0edee;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: gelatine;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes gelatine {
  from,
  to {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

@media screen and (min-width: 750px) {
  /* Media queries pour version desktop. */
  .button-back-home {
    width: 100px;
    height: 100px;
    font-size: 1rem;
  }
}
