.buttons-genres-css {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button-genre-css {
    background-color: #F0EDEE;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
    font-size: 1.4rem;
    transition: 0.3s;
}

.button-genre-css:hover {
    background-color: #b8b8b8;
}

.button-genre-css:focus{
    background-color: #B52030 ;
    color:#F0EDEE;
    transition: 0.3s;
}

.button-genre-css:first-child {
    border-radius: 5px 0px 0px 5px;
}

.button-genre-css:nth-child(3) {
    border-radius: 0px 5px 5px 0px;
}

.button-genre-css:nth-child(4) {
    border-radius: 5px 0px 0px 5px;
}

.button-genre-css:last-child {
    border-radius: 0px 5px 5px 0px;
}

@media screen and (min-width: 750px) {
    .button-genre-css:nth-child(3) {
        border-radius:0%;
    }
    
    .button-genre-css:nth-child(4) {
        border-radius:0%;
    } 
}