* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.MoodLogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: stretch;
  background-color: #141414;
}

.HomeTwoButton {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: space-around;
  background-color: #141414;
  height: 50vh;
  width: 100%;
}
.HomeTwoButton :nth-child(2) {
  animation: wobble 2s ease infinite;
}
.HomeTwoButton :nth-child(1) {
  animation: wobble 2s ease infinite;
}
@keyframes wobble {
  0% {
    transform: translateX(0%);
  }
  15% {
    transform: translateX(-25%) rotate(-5deg);
  }
  30% {
    transform: translateX(20%) rotate(3deg);
  }
  45% {
    transform: translateX(-15%) rotate(-3deg);
  }
  60% {
    transform: translateX(10%) rotate(2deg);
  }
  75% {
    transform: translateX(-5%) rotate(-1deg);
  }
  100% {
    transform: translateX(0%);
  }
}
img {
  height: 80rem;
  width: 80rem;
  margin-bottom: 10rem;
}
button {
  border: none;
  font-size: 0;
}

@media screen and (max-width: 768px) {
  img {
    display: flex;
    flex-direction: row;
    height: 8rem;
    width: 8rem;
  }
  .HomeTwoButton {
    display: flex;
    flex-direction: column;
  }
  button {
    border: none;
  }
}
