* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HomeButton {
  display: flex;
  justify-content:center ;
}
.HomeTwoButton {
  background-color: #141414;
  display: flex;
  flex-direction: column;
}
.image-button {
  width: 55vw;
  max-width: 350px;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (min-width : 750px) {
  .image-button {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .HomeButton {
    display: flex;
    justify-content:center ;
  }
  .HomeTwoButton {
    background-color: #141414;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}   