* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.HomeButton {
  display: flex;
  justify-content:center ;
}
.HomeTwoButton {
  background-color: #141414;
  display: flex;
  flex-direction: column;
}
.image-button {
  width: 65%;
  padding-top: 80px;
  padding-bottom: 80px;
}

