/* Affichage logo mobile firt */
@media screen and (max-width: 768px) {
  .logoheader img {
    width: 15rem;
    height: 15rem;
    -webkit-animation: cssAnimation 3s forwards;
    animation: cssAnimation 3s forwards;
  }
  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}

/* Affichage logo desktop */
@media screen and (min-width: 768px) {
  .logoheader {
    width: 25rem;
    height: 25rem;
    -webkit-animation: cssAnimation 3s forwards;
    animation: cssAnimation 3s forwards;
  }

  @keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes cssAnimation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .logoheader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .logo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
}
