* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.popup-wrapper {
  width: 350px;
  height: 350px;

  margin-left: 510px;
  margin-top: 200px;
  background-color: #f0edee;
  color: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.titre-home-return {
  padding: 25px;
  display: flex;
  font-family: "Expletus Sans", sans-serif;
  font-size: large;
  background-color: #f0edee;
  color: #141414;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

@media screen and (min-width: 750px) {
  /* Media queries pour version desktop. */
  .popup-wrapper {
  }
  .titre-home-return {
  }
}
