img {
  border-radius: 5px;
  width: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-card {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

* {
  background-color: #141414;
}
