* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #141414;
}

.welcome-animation {
  height: 100vh;
  width: 100%;
  /* animation: transitionIn 0.75s; */
  animation: slidein 3s;
}

@keyframes slidein {
  from {
    margin-bottom: 100%;
    height: 100vh;
  }
  to {
    margin-bottom: 100%;
    height: 40vh;
  }
}