
/* Import de Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Import des polices de texte Hind et Expletus. */
/* @import url("https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Expletus+Sans:ital,wght@1,400;1,500&family=Hind:wght@300&display=swap"); */

body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}